---
// Example src/layout/BlogPostLayout.astro
import MainLayout from '../layouts/MainLayout.astro'
const {content} = Astro.props;
---
<MainLayout title={content.title}>
    <section>
      <h1>{content.title}</h1>
      <img src={ content.thumbnail }>
  <h5>Post author: {content.author}</h5>
  <h5>Date: {content.date}</h5>
  <slot />
    </section>
</MainLayout>